.questionchoices{
  position: absolute;
  opacity: 0;
}
.questionchoices button {
border-radius: 999px; padding: 0.5rem 1.25rem;
}
.questionchoices button:hover { 
  background: #005fa3; transform: translateY(-2px); 
}
body {
  background-color: yellow;
}
h1 {
  color: rgb(4, 144, 144);
}