/* font */
@import url("https://fonts.googleapis.com/css2?family=Nabla&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
h1 {
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "EDPT" 100, "EHLT" 12;
}

.questionchoices {
  transition: opacity 300ms ease;
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
}

.nextbutton {
  transition: opacity 100ms ease;
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
  margin-top: 1rem;
}

.nextbutton.hidden {
  opacity: 0;
  pointer-events: none; /* prevent clicking while hidden */
}
button {
  border-radius: 99px;
  padding: 0.5rem 1.25rem;
  border-color: #005fa3;
  font-weight: bold;
  color: rgb(4, 144, 144);
  background: rgb(188, 231, 255);
}
button:hover {
  background: #005fa3;
  transform: translateY(-2px);
  color: rgb(188, 231, 255);
}
body {
  background-color: rgb(239, 239, 0);
}
h1 {
  color: rgb(4, 144, 144);
  text-shadow: 2px 3px 1px #005fa3;
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
}
.prompt {
  color: rgb(4, 144, 144);
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
}
.spongebobimage.hidden {
  opacity: 0;
  position: absolute;
}
.spongebobimage {
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
  margin-top: 80px;
}
.progressbar {
  font-family: system-ui, sans-serif;
  font-size: 1.125rem;
  color: #044; /* dark teal */
  margin: 0.5rem 0 1rem 0;
  display: inline-block;
}
.progress-first {
  font-weight: 700;
  color: #0077cc; /* light blue for the changing character */
  margin-right: 0.25rem;
}
.progress-rest {
  color: #333;
  opacity: 0.8;
  font-weight: bold;
}
.citations {
  color: rgb(4, 144, 144);
  font-weight: bold;
}
.questions {
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
}
.questionchoices.hidden {
  opacity: 0;
  pointer-events: none; /* prevent clicking while hidden */
}
p {
  font-family: "Indie Flower", sans-serif;
  font-size: 1.25rem;
}
.questions.hidden {
  opacity: 0;
  pointer-events: none; /* prevent clicking while hidden */
}