/* font */
@import url("https://fonts.googleapis.com/css2?family=Nabla&display=swap");
h1 {
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "EDPT" 100, "EHLT" 12;
}

.questionchoices {
  transition: opacity 300ms ease;
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
}

.questionchoices.hidden {
  opacity: 0;
  pointer-events: none; /* prevent clicking while hidden */
 /* keep out of document flow when hidden */
}
button {
  border-radius: 99px;
  padding: 0.5rem 1.25rem;
  border-color: #005fa3;
  font-weight: bold;
  color: rgb(4, 144, 144);
  background: rgb(188, 231, 255);
  
}
button:hover {
  background: #005fa3;
  transform: translateY(-2px);
  color: rgb(188, 231, 255);
}
body {
  background-color: yellow;
}
h1 {
  color: rgb(4, 144, 144);
  text-shadow: 2px 3px 1px #005fa3;
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
}
.prompt {
  color: rgb(4, 144, 144);
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
}
.spongebobimage.hidden {
  opacity: 0;
  position: absolute;
}
.spongebobimage {
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
  margin-top: 80px;
}

